<div class="container">
    <h3>To Do:</h3>
    <br>
    <form [formGroup]="form" (ngSubmit)="processForm(form)">
        <div class="form-group">
            <label for="description" class="form-label">Description: </label>
            <input type="text" 
                    class="form-control" 
                    formControlName="description">
            <br>
            <span *ngIf="form.get('description')?.hasError('required')" 
                    class="text-danger">Description is required</span>
            <span *ngIf="form.get('description')?.hasError('minlength')" 
                    class="text-danger">Description must have minimum of 5 characters</span>
        </div>
        <div class="form-group">
            <label for="priority" class="form-label">Priority: </label>
            <div *ngFor="let priority of priorities">
                <input 
                    type="radio" 
                    class="form-check-input" 
                    formControlName="priority" 
                    [value]="priority" 
                    >{{priority}}
            </div>
        </div>
        <div class="form-group">
            <label for="dueDate" class="form-label">Due Date: </label>
            <input type="date" formControlName="dueDate">
            <br>
            <span *ngIf="form.get('dueDate')?.hasError('lessThanToday')" 
                    class="text-danger">Due date cannot be earlier than today</span>
        </div>
        <button type="submit" [disabled]="!form.valid">Add</button>
    </form>
</div>